<div class="row text-center">
    <div class="col-12">
        <img src="assets/images/login.gif" alt="welcome" class="img-fluid" />
    </div>
    <div class="col-12">
        <Signout />
    </div>
</div>